table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 50px;
}

table > thead {
  text-align: left;
  border: 1px solid #ddd;
  color: white;
  background-color: gray;
}

table > thead > th {
  padding: 5px 10px;
  height: 50px;
}

table > tbody > tr {
  border: 1px solid #ddd;
  padding: 10px 16px;
}

table > tbody > tr:nth-child(even) {
  background-color: #f2f2f2;
}

table > tbody > tr:hover {
  background-color: #ddd;
}

table > tbody > tr > td {
  padding: 10px 16px;
}
